/*
<!--
    Mark Pratt
    CST-126
    Project Version 5
    Synopsis: 
        CSS File
-->

*/

td input[type=submit]{
    width: 100%;
}


table, tr, th, td{
    border: 1px solid black;
    
}

.date{
    width: 10% !important;
    text-align: center;
}
